<h1>photo comments</h1>

<%= image_tag @photo.image_url %>

<%= @comments.each do |comment| %>
  <li><%= @comments.content %></li>
<% end %>


<%= form_with(model: [@photo, @comment], local: true) do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="action form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>
