<p id="notice"><%= notice %></p>

<p>
  <strong>Image data:</strong>
  <% if @photo.image_data? %>
  <%= image_tag @photo.image_url, width: 400 %>
  <% end %>
  <!-- <img src="<%= @photo.image_url %>" > -->
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user.username %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>

<!-- Comments -->
<h3>Comments</h3>

<% @comments.each do |comment| %>
  <p><%= comment.user_id %> said: <%= comment.content %></p>
<% end %>

<%# render partial: 'comments/form', locals: { comment: @comment } %>
<%= form_with(model: [@photo, @comment], local: true) do |form| %>
  <div class="field form-group">
      <%= form.label :content %><br>
      <%= form.text_area :content, class: 'form-control' %>
  </div>
  <%# form.hidden_field :photo_id %>
  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
