<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/bbdaecabea.js"></script> 
  </head>

  <body>
    <%= render 'partials/nav' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <ul class="hmenu">
      <%= render 'devise/menu/registration_items' %>
    </ul>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
