<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <%= render 'partials/login_items' %>
      <%= render 'partials/new_photo' %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <ul class="hmenu">
      <%= render 'devise/menu/registration_items' %>
    </ul>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
